#Post {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#Post section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Post section div {
    border-radius: 13px;
    border-color: #757575;
    box-sizing: border-box;
}

.inputUser {
    border-radius: 3px;
    padding-right: 40vh;
}

#description {
    padding-bottom: 40vh;
}

#Post div h3 {
    font-size: 0.95em;
    color: #757575;
}