.mainContainer {
  margin: 20px;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  position: relative;
}

.postCard {
  width: 800px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-right: 20px; 
}

.postCard:hover {
  background-color: #e0f7ff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.postHeader,
.postFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.userAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  background-image: none !important;
  background-size: cover;
}

.userNameButton,
.menuButton,
.upvoteButton,
.downvoteButton {
  background: none;
  border: none;
  cursor: pointer;
}

.menu {
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
}

.divider {
  width: 89%;
}

.postTitle {
  font-size: 1.5em;
  margin: 10px 0;
  font-weight: bold;
}

.postLink {
  font-size: 1.2em;
  color: #007bff;
  margin: 5px 0;
  text-decoration: none;
}

.postLink:hover {
  text-decoration: underline;
}

.postContent {
  font-size: 1em;
  margin: 10px 0;
}

.commentSectionMain {
  width: 90%; 
  margin-top: 20px;
  float: left;
  padding-left: 20px;
}

.commentSection {
  width: 120%; 
  margin-bottom: 20px;
}

.commentSection textarea {
  width: calc(100% - 30px);
  max-width: 800px;
  height: 50px;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 1.2em;
  font-weight: bold;
}

.noticias, .formLabel {
  font-size: 1.5em;
  font-weight: bold;
}

.commentCardLeft{
  padding-left: 20px;
}

.alignRight {
  display: flex;
  justify-content: flex-end;
  padding-right: 12%;
}
